<h2 class="!font-bold !text-2xl">Overview</h2>

<div class="flex space-x-5">
  <div class="flex-1 p-4 bg-red-50 rounded-md h-40 relative gradient-bluish">
    <div class="text-3xl uppercase tracking-widest text-white">Houses</div>
    <div class="absolute right-6 bottom-4 text-4xl text-white font-bold">
      34
    </div>
  </div>
  <div class="flex-1 p-4 bg-red-50 rounded-md h-40 gradient-tomato relative">
    <div class="text-3xl uppercase tracking-widest text-white">Managers</div>
    <div class="absolute right-6 bottom-4 text-4xl text-white font-bold">
      167
    </div>
  </div>
  <div class="flex-1 p-4 bg-red-50 rounded-md h-40 gradient-peru relative">
    <div class="text-3xl uppercase tracking-widest text-white">Tenants</div>
    <div class="absolute right-6 bottom-4 text-4xl text-white font-bold">
      2456
    </div>
  </div>
</div>
