
<div class="pt-6">
    <div class="text-xl text-slate-900">Add House</div>

    <form action="" class="max-w-lg my-5 mx-2 ring-2 p-4 ring-slate-300 rounded">
        <div class="flex flex-col my-2">
            <label for="title">Name of House</label>
            <input type="text" class="w-full my-2 rounded-md focus:ring-slate-900">
        </div>

        <div class="flex flex-col my-2">
            <label for="title">Number of Floors</label>
            <input type="number" class="w-full my-2 rounded-md focus:ring-slate-900">
        </div>

        <div class="flex flex-col my-2">
            <label for="title">Number of Rooms</label>
            <input type="number" class="w-full my-2 rounded-md focus:ring-slate-900">
        </div>

        <div class="flex flex-col my-2">
            <label for="title">Average Price</label>
            <input type="number" class="w-full my-2 rounded-md focus:ring-slate-900">
        </div>

        <div class="flex flex-col my-2">
            <label for="title">Description</label>
            <textarea rows="5" class="w-full my-2 rounded-md focus:ring-slate-900">

            </textarea>
        </div>

        <button class="w-full text-white py-3 rounded-md px-16 bg-slate-900">Add House</button>
    </form>
</div>

