<modal
  [showModal]="houseService.addHouseModalOpen"
  [hposition]="'center'"
  [vposition]="'center'"
>
  <div class="bg-white w-full sm:w-[400px] md:w-[600px] p-5 rounded-md">
    <div class="text-xl text-slate-900 text-center">Add House</div>
    <form action="" class="my-5 mx-2 ring-2 p-4 ring-slate-300 rounded">
      <div class="flex flex-col my-2">
        <label for="title">Name of House</label>
        <input
          type="text"
          class="w-full my-2 rounded-md focus:ring-slate-900"
        />
      </div>
      <div class="flex gap-2 items-center flex-col md:flex-row">
        <div class="flex w-full flex-1 flex-col my-2">
          <label for="title">Number of Floors</label>
          <input
            type="number"
            class="w-full my-2 rounded-md focus:ring-slate-900"
          />
        </div>

        <div class="flex w-full flex-1 flex-col my-2">
          <label for="title">Number of Rooms</label>
          <input
            type="number"
            class="w-full my-2 rounded-md focus:ring-slate-900"
          />
        </div>
      </div>

      <div class="flex gap-2 items-center flex-col md:flex-row">
        <div class="flex w-full flex-[1] flex-col my-2">
          <label for="title">Rent Amount</label>
          <input
            type="number"
            class="w-full my-2 rounded-md focus:ring-slate-900"
          />
        </div>
        <div class="flex w-full flex-[1] flex-col my-2">
          <label for="title">Deposit Amount</label>
          <input
            type="number"
            class="w-full my-2 rounded-md focus:ring-slate-900"
          />
        </div>
      </div>

      <div class="flex flex-col my-2">
        <label for="title">Description</label>
        <textarea rows="4" class="w-full my-2 rounded-md focus:ring-slate-900">
        </textarea>
      </div>

      <div class="flex gap-5">
        <button type="button" (click)="houseService.addHouseModalOpen = false" class="p-1 px-4 bg-red-400 text-white rounded-md">Cancel</button>

        <button
          class="w-full text-white py-3 flex items-center justify-center space-x-3 rounded-md px-16 bg-slate-900"
        >
          <div
            class="border-dashed animate-spin w-4 h-4 border-[2px] border-opacity-75 rounded-full"
            role="status"
          >
            <span class="visually-hidden sr-only">Loading...</span>
          </div>
          <span> Add House </span>
        </button>
      </div>
    </form>
  </div>
</modal>
