<div class="flex">
    <div
      class="text-md tracking-wider font-bold uppercase py-3 rounded-l-md cursor-pointer px-5 md:px-8 lg:px-12 xl:px-16"
      (click)="changeTab('houses')"
      [ngClass]="{
        'text-slate-900 bg-white': tavNavService.openTab !== 'houses',
        'text-white bg-slate-900': tavNavService.openTab === 'houses'
      }"
    >Houses
    </div>
  <div
      class="text-md tracking-wider font-bold uppercase py-3 cursor-pointer px-5 md:px-8 lg:px-12 xl:px-16"
      (click)="changeTab('rooms')"
      [ngClass]="{
        'text-slate-900 bg-white': tavNavService.openTab !== 'rooms',
        'text-white bg-slate-900': tavNavService.openTab === 'rooms'
      }"
    >
     Rooms
    </div>
    <div
      class="text-md tracking-wider font-bold uppercase py-3 rounded-r-md cursor-pointer px-5 md:px-8 lg:px-12 xl:px-16"
      (click)="changeTab('any')"
      [ngClass]="{
        'text-slate-900 bg-white': tavNavService.openTab !== 'any',
        'text-white bg-slate-900': tavNavService.openTab === 'any'
      }"
    > Others
    </div>
  </div>
