<div class="p-4 py-4 border-b">
  <div class="max-w-5xl mx-auto flex justify-between">
    <h1 class="font-bold text-slate-900 text-xl">House Me</h1>
    <div class="">
      <a
        routerLink="/signup"
        class="py-3 px-6 rounded-md text-sm bg-slate-900 text-white"
        >SignUp</a
      >
    </div>
  </div>
</div>

<div class="flex min-h-[80vh] flex-col items-center justify-center">
  <div class="content w-full sm:w-[500px] p-4">
    <h2 class="my-4 text-xl font-medium px-4">Log in to Houseme</h2>

    <div
      *ngIf="error"
      class="my-4 text-red-600 bg-red-300 rounded-lg p-3 text-center"
    >
      {{ error }}
    </div>
    <form
      [formGroup]="user"
      (ngSubmit)="onSubmit()"
      class="round-shadow p-4 form rounded-md"
    >
      <div class="form-group mb-4">
        <label class="text-sm" for="email-username">Email or username</label>
        <input
          type="text"
          formControlName="email"
          placeholder="example@domain.xyz"
          class="px-2 py-2 text-sm w-full outline-none border rounded-md mt-2 border-slate-300 focus:border-slate-600"
        />
        <span
          class="text-red-400 text-sx mt-2"
          *ngIf="
            (userFormControl?.email.touched || submitted) &&
            userFormControl?.email.errors?.required
          "
        >
          Email is required
        </span>
        <span
          class="text-red-400 text-sx mt-2"
          *ngIf="
            (userFormControl?.email.touched || submitted) &&
            userFormControl?.email.errors?.email
          "
        >
          Invalid email
        </span>
      </div>
      <div class="form-group mb-4">
        <label class="text-sm flex justify-between" for="email-username">
          <span>Password</span>
          <a routerLink="/reset-password" class="text-blue-600"
            >Forgot password?</a
          >
        </label>
        <input
          type="password"
          formControlName="password"
          placeholder="**************"
          class="px-2 py-2 text-sm w-full outline-none border rounded-md mt-2 border-slate-300 focus:border-slate-600"
        />
        <span
          class="text-red-400 text-sx mt-2"
          *ngIf="
            (userFormControl?.password.touched || submitted) &&
            userFormControl?.password.errors?.required
          "
        >
          Password is required
        </span>
        <span
          class="text-red-400 text-sx mt-2"
          *ngIf="
            (userFormControl?.password.touched || submitted) &&
            userFormControl?.password.errors?.invalidPassword
          "
        >
          Password should have minimum 8 characters, at least 1 uppercase
          letter, 1 lowercase letter and 1 number
        </span>
      </div>
      <button
        type="submit"
        [disabled]="authService.isLoggingInUser"
        class="disabled:cursor-not-allowed disabled:opacity-70 flex items-center justify-center space-x-6 w-full py-2 text-md tracking-wider bg-slate-900 text-white rounded-md"
      >
        <mat-icon
          *ngIf="authService.isLoggingInUser"
          aria-hidden="false"
          aria-label="Houses"
          class="origin-center text-2xl animate-spin"
          >refresh</mat-icon
        >
        <span *ngIf="!authService.isLoggingInUser"> Log In </span>
        <span *ngIf="authService.isLoggingInUser"> Loading... </span>
      </button>
    </form>

    <div class="text-sm my-6">
      New to Houseme?
      <a class="text-indigo-800" routerLink="/signup">Sign up</a>
    </div>
  </div>
</div>
