<div class="p-4 py-4 border-b">
  <div class="max-w-5xl mx-auto flex justify-between">
    <h1 class="font-bold text-slate-900 text-xl">House Me</h1>
    <div class="flex space-x-4 items-center">
      <a
        routerLink="/login"
        class="py-3 px-6 rounded-md text-sm text-slate-900 border border-slate-900"
        >Login</a
      >
      <a
        routerLink="/signup"
        class="py-3 px-6 rounded-md text-sm bg-slate-900 text-white"
        >Signup</a
      >
    </div>
  </div>
</div>

<div class="bg-white h-screen flex flex-col items-center p-4 md:py-12 lg:py-24">
  <img
    class="w-40 h-40 object-contain"
    src="https://static.expo.dev/static/images/spots/forums.gif"
    alt="Not Found"
  />
  <h2 class="text-slate-900 font-bold text-4xl">404: Page not found</h2>
  <p class="max-w-sm my-8 text-center text-lg">
    We couldn't find the page you were looking for. Check the URL to make sure
    it's correct and try again.
  </p>
  <a routerLink="/" class="bg-blue-900 text-white py-2 px-6 rounded-md"
    >Return Home</a
  >
</div>
