<modal [vposition]="'top'" [hposition]="'right'" [showModal]="showErrorModal">
  <div class="bg-red-100 p-4 py-0 flex min-w-[300px] divide-x-2 divide-red-900 rounded-lg">
    <div class="pr-6 py-2">
		<mat-icon
        aria-hidden="false"
        class="text-red-500 cursor-pointer"
        aria-label="Error"
        >error</mat-icon
      >
	</div>
    <div class="pl-6">
      <span class="text-red-900 py-2 block">Error!</span>
      <div class="text-red-300 mb-3">{{ error }}</div>
    </div>
  </div>
</modal>
