<div class="bg-lavender flex px-4 py-2 justify-between items-center fixed inset-x-0 top-0">
  <div class="flex min-w-[220px] items-center justify-between">
    <h2 *ngIf="appNavigationService.sideBarOpen" class="transition-all duration-100 !m-0">House Me</h2>
    <mat-icon
      aria-hidden="false"
      class="inline-block mt-1 cursor-pointer"
      aria-label="Menu"
      (click)="appNavigationService.toggleSideBarOpen()"
      >menu</mat-icon
    >
  </div>
  <div class="">
    <mat-icon
      aria-hidden="false"
      class="text-slate-900"
      aria-label="Notifications"
      >notifications_none</mat-icon
    >
  </div>
</div>
