<div
  class="bg-slate-900 px-4 py-2 justify-between items-center inset-x-0 z-[1000] text-white"
>
  <div class="flex justify-between w-full">
    <mat-icon
      aria-hidden="false"
      [ngClass]="!appNavigationService.sideBarOpen ? 'block' : 'hidden'"
      class="text-white cursor-pointer"
      aria-label="Notifications"
      (click)="appNavigationService.toggleSideBarOpen()"
      >menu</mat-icon
    >
    <mat-icon
      aria-hidden="false"
      class="text-white block"
      aria-label="Notifications"
      >notifications_none</mat-icon
    >
  </div>
</div>
