<div class="p-4 py-4 border-b">
  <div class="max-w-5xl mx-auto flex justify-between">
    <h1 class="font-bold text-slate-900 text-xl">House Me</h1>
    <div class="flex space-x-4">
      <a
        routerLink="/login"
        class="py-2 px-6 rounded-md text-sm bg-slate-900 text-white"
        >Login</a
      >
    </div>
  </div>
</div>

<div class="flex min-h-[80vh] flex-col items-center justify-center">
  <div class="content w-full sm:w-[500px] p-4">
    <h2 class="my-4 text-xl mx-4 font-medium">Create your account</h2>

    <div class="round-shadow p-4 form rounded-md">
      <div class="form-group mb-2">
        <label class="text-sm" for="email-username">Email</label>
        <input
          type="text"
          class="px-2 py-2 text-sm w-full outline-none border rounded-md mt-2 border-slate-300 focus:border-slate-600"
        />
      </div>
      <div class="form-group mb-2">
        <label class="text-sm" for="email-username">Username</label>
        <input
          type="text"
          class="px-2 py-2 text-sm w-full outline-none border rounded-md mt-2 border-slate-300 focus:border-slate-600"
        />
      </div>
      <div class="form-group mb-2">
        <label class="text-sm" for="email-username">Password</label>
        <input
          type="password"
          class="px-2 py-2 text-sm w-full outline-none border rounded-md mt-2 border-slate-300 focus:border-slate-600"
        />
      </div>
      <div class="form-group mb-2">
        <label class="text-sm" for="email-username">Confirm password</label>
        <input
          type="password"
          class="px-2 py-2 text-sm w-full outline-none border rounded-md mt-2 border-slate-200 focus:border-slate-600"
        />
      </div>
      <button class="w-full py-2 text-md mt-2 tracking-wider bg-slate-900 text-white rounded-md">
        Sign Up
      </button>
    </div>

    <div class="text-sm my-6">
      Have an account?
      <a class="text-indigo-800" routerLink="/login">Log in</a>
    </div>
  </div>
</div>
