<div class="flex justify-end">
  <a routerLink="/admin/houses/new" class="new-house-btn">Add House</a>
</div>

<div class="houses-list">
  <div *ngFor="let house of houses" class="house-item">
    <div class="flex">
      <div class="flex-1 relative">
        <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-xl font-bold bg-white p-2 px-6">
          <span *ngIf="!house.full" class="text-green-600">VACANT</span>
          <span *ngIf="house.full" class="text-red-600">FULL</span>
        </div>
        <img
          [src]="house.image"
          [alt]="house.name"
          class="flex-1 w-full h-full object-cover"
        />
      </div>
      <div class="flex-1 p-4">
          <div class="!m-0 !p-0 leading-3 !text-lg font-bold tracking-wider">{{house.name}}</div>
          <div class="flex items-center my-3">
              <div class="!m-0 !p-0 leading-3 text-xl flex items-center space-x-2"> <span class="text-3xl text-indigo-900 font-bold">{{house.rooms}}</span> <span>rooms</span></div>
        </div>
        <a [routerLink]="['/admin/houses/', house.id]" class="underline pb-2 text-lg text-slate-900">View House</a>
      </div>
    </div>
  </div>
</div>
